* {
box-sizing: border-box;
}
/*div {
 border: 1px solid red;
 background: url(http://snugug.github.io/responsive-grids/images/symmetric-grid-bootstrap.png (74KB)*/

/*);
 background-size: contain;
height:300px;
}
}*/

.jumbotron {
  text-align: center;
  padding-top: 50px;
  background-image: url(north-beach-village-resort-slide-4.jpg);
  background-size: cover;

}
#surf {
  color: white;
}
